.table-data:hover{
    background-color: #ddd;
}

td{
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    min-width: 100px;
    background-color: #04AA6D;
    color: white;
}