<section class="table">
    <table>
        <thead>
            <tr>
                <th *ngFor="let column of displayColumns">{{column}}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-data" *ngFor="let grade of grades">
                <td>{{grade.Id}}</td>
                <td>{{grade.Name}}</td>
                <td>{{grade.Value}}</td>
                <td>{{grade.StudentId}}</td>
                <td>{{grade.TeacherId}}</td>
                <td><button mat-flat-button color="primary"><mat-icon>find_in_page</mat-icon></button></td>
            </tr>
            
        </tbody>
    </table>
</section>